@* @using StudentRegistration.Data.Models; *@
@model List<Author>
<a href="/author/add" class="btn btn-success">Add Student</a>
<table class="table">
  <thead>
    <tr>
      @* <th scope="col">#</th> *@
      <th></th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Date of Birth</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var author in Model)
    {
    <tr>
      @* <th scope="row">@author.Id</th> *@
      <td><div class="avatar" style="background-color: @GetRandomColor();">@author.Name[0]</div></td>
      <td>@author.Name</td>
      <td>@author.Address</td>
      <td>@author.Gender</td>
      <td>@author.Email</td>
      <td>@author.DateOfBirth.ToLongDateString()</td>
      <td><a href="/author/edit/@author.Id"><i class="bi bi-pen-fill" title="Edit"></i></a>
          <a href="/author/delete/@author.Id"><i class="bi bi-trash3-fill" title="Delete"></i></a>
      </td>
    </tr>
    }
    
    
  </tbody>
</table>

<style>
    .avatar {
        width: 50px; /* Set the desired width */
        height: 50px; /* Set the desired height */
        border-radius: 50%; /* Make it round */
        @* background-color: #007bff; /* Set the background color */ *@
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff; /* Set the text color */
        font-size: 20px; /* Set the font size */
    }
</style>

@functions {
  private Random random = new Random();

  private string GetRandomColor()
  {
    return $"#{random.Next(0x1000000):X6}";
  }
}